<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <h1>Book Search</h1>

    <form action="/info">
        <label>
            <input name="title" type="text" placeholder="Jaws" required>
            <button>Go</button>
        </label>
    </form>

</body>
</html>